/* header */

header {
    background-color: var(--primary-color);
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.topnav a:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #2d059b;
}

.topnav .search-container {
    float: left;
}

.topnav input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type="text"],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type="text"] {
        border: 1px solid #ccc;
    }
}

.ccc {
    margin-right: 10px;
}

.ccc:hover {
    text-decoration: none;
}

.bala{
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}

.ggg {
    margin-left: 20px;
}

.fa {
    width: 50px;
}

.omid{
    margin-top: 100px;
}

.portorico {
    text-align: center;
}

.img-wrap{
    width: 100%;
}

.img-wrap img{
    width: 100%;
}


body{
    font-family: Helvetica, Arial, sans-serif;
  }
  .bb{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: rgb(3, 2, 3);
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(160, 12, 32);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #060999;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #340aa8;
  }
  .bar.back::before{
    background-color: #240888;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }

  .goaway{
    background-image: linear-gradient(rgb(32, 13, 204), rgb(194, 19, 179));
}